body {
    background-image: url('../images/background.jpg'); /* Path relative to the CSS file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', san;
}

.header {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    border: none;
    background-color: lightpink;
    border-radius: 20px;
    width: 1000px;
    margin-left: 100px;
    margin-top: 50px;
}

.subheader {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    background-color: lightpink;
    border-radius: 15px;
    width: 1000px;
    margin-left: 100px;
}

.textboxes {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid;
    border-radius: 12px;
    padding: 15px;
    background-color: whitesmoke;
    display: inline-block;
    width: 400px;
    height: 300px;
    margin-left: 400px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.button {
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: lightgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    color: black;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: absolute; 
    margin: 3px -15px;
    width: 50px;
}

.labels {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    color: red;
    text-align: center; 
    position: absolute;
    bottom: -10px;
    margin-left: 110px;
}

.links {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    color: black;
    text-align: center;
    position: absolute;
    bottom: -30px;
    margin-left: 65px;
}

.textboxheader {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    background-color: purple;
    padding: 15px;
    border: none;
    margin: 4px 2px;
    border-radius: 12px;
    height: 50px;
    width: 300px; 
    margin-left: 40px;
    margin-bottom: 35px;
}
